include *.txt
include *.md
include *.pkl
recursive-include ./houseprice_model *

include houseprice_model/datasets/HousingData.csv
include houseprice_model/datasets/test.csv
include houseprice_model/trained_models/*.pkl
include houseprice_model/VERSION
include houseprice_model/config.yml

include ./requirements/requirements.txt
include ./requirements/test_requirements.txt
exclude *.log
exclude *.cfg

recursive-exclude * __pycache__
recursive-exclude * *.py[co]